

@model IEnumerable<Satish.Models.Cart>

@{
    ViewData["Title"] = "Index";
}


<h1>Index</h1>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nombre
            </th>
            <th>
                Imagen
            </th>
            <th>
                Precio
            </th>
            <th>
                Cantidad
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in ViewBag.cart)
        {
            <tr>
                <td>
                    <a asp-controller="cart" asp-action="remove" asp-route-id="@item.Product.Id">Remove</a>
                </td>
                <td><p>@item.Product.Id</p></td>
                <td>@item.Product.Name</td>
                <td>@item.Product.Price</td>
                <td>@item.Product.Image</td>


            </tr>
        }
        <tr>
            <td>Sum</td>
            <td>@ViewBag.total</td>
        </tr>

    </tbody>
</table>
<a asp-controller="products" asp-action="index">Continuar comprando</a>
<a asp-controller="checkout" asp-action="index">Ir a Pagar</a>



@*

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id_AspNetUsers)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_AspNetUsers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
*@