

@model IEnumerable<Satish.Models.Cart>

@{
    ViewData["Title"] = "Index";
}


<h1>Tu Carrito</h1>


<p>
    <!-- <a asp-action="Create">Create New</a>-->
</p>
<section class="container">
    @foreach (var item in ViewBag.cart)
    {
        <article class="product-container">
            <div class="img-container"><img class="img-fluid" src="@item.Product.Image" alt="@item.Product.Name" /></div>
            <ul>
                <li>@item.Product.Name</li>
                <li>@item.Product.Price</li>
            </ul>
            <div class="cta-wrapper">
                <a asp-controller="cart" asp-action="remove" asp-route-id="@item.Product.Id">Remover</a>
            </div>
        </article>
    }

</section>
<section class="container summary">
    <h3>Total</h3>
    <p>@ViewBag.total</p>
</section>

<a asp-controller="products" asp-action="index">Continuar comprando</a>
<a asp-controller="checkout" asp-action="index">Ir a Pagar</a>



@*

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id_AspNetUsers)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_AspNetUsers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
*@