@model Satish.Models.Cart;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Finalizar Compra</h1>
<section class="container-fluid">
    <h3>Sus productos</h3>
    @foreach (var item in ViewBag.cart)
    {
        <ul class="list-group">
            <li class="list-group-item"><img src="@item.Product.Image"></li>
            <li class="list-group-item">
                <a asp-controller="cart" asp-action="remove" asp-route-id="@item.Product.Id">Remove</a>
            </li>
            <li class="list-group-item">@item.Product.Id</li>
            <li class="list-group-item">@item.Product.Name</li>
            <li class="list-group-item">@item.Product.Price</li>
            <li class="list-group-item">Cantidad: @item.Quantity</li>
            
          


        </ul>
    }
</section>
<section class="container-fluid">
    <h3>Total de su compra</h3>
    <h4>@ViewBag.total</h4>
</section>
<h1>@DateTime.Now</h1>
<form asp-action="CreateFromCheckout" asp-controller="Cart">
    
    <input type="hidden" asp-for="Id" class="form-control" value=" " />
    <label asp-for="Id_AspNetUsers" class="control-label"></label>
    <input type="hidden" asp-for="Id_AspNetUsers" class="form-control" value="@ViewBag.cartId" />
    <span asp-validation-for="Id_AspNetUsers" class="text-danger"></span>
    <label asp-for="estado" class="control-label"></label>
    <input type="hidden" asp-for="estado" class="form-control" value="0" />
    <span asp-validation-for="estado" class="text-danger"></span>
    <label asp-for="Date" class="control-label"></label>
    <input type="hidden" asp-for="Date" value="@DateTime.Now" />
    <label asp-for="Price" class="control-label"></label>
    <input type="hidden" asp-for="Price" class="form-control" value="@ViewBag.total" />
    <span asp-validation-for="Price" class="text-danger"></span>
    <input type="submit" value="Confirmar e ir a pago" class="btn btn-primary" />
</form>
