@model Satish.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle del Producto</h1>

<section class="checkout-step2--summary">
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <article class="summary-article">
        <div class="img-container">
            <img class="img-fluid details-img" src="@Html.DisplayFor(model => model.Image)" />
        </div>
        <ul class="checkout-step2--list">
            <li><span class="list-title">Precio</span>: @Html.DisplayFor(model => model.Price)</li>
        </ul>
    </article>
</section>
<div class="container details-ctas-container">

    @if (User.Identity.IsAuthenticated)
    {
        <a class="checkout-continue-cta" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    }
    <a class="checkout-payment-cta" asp-controller="Cart" asp-action="Buy" asp-route-id="@Model.Id">Comprar</a>
    <a class="checkout-continue-cta" asp-action="Index">Volver a Productos</a>
</div>
